body {
	margin: 10px 10px 10px 10px;
}



#results {
	width: 200px;
	padding: 5px 5px 5px 5px;
}

#target {
	width: 200px;
}

#unit {
	width: 120px;
}

#pairs {
	width: 100px;
}

#results {
	width: 400px;
}